::selection{
    color: greenyellow;
    background: seagreen;
}
body{
	margin: 0px;
	display: flex;
	justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
}
#calculator{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    max-width: 500px;
    overflow: hidden;
    border-radius: 0px;
    position: relative;
}
#display{
    width: 100%;
    max-width: 450px;
    height: 40vh;
    display: flex;
    align-items: flex-end;
    border: none;
    padding: 0;
    font-size: 3rem;
    color: darkslategrey;
    padding: 0 10px;
    border-bottom: 1px solid grey;
}
#display:focus{
    outline: none;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    column-gap: 10px;
    row-gap: 15px;
    padding: 20px;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50px;
    background-color: #ffffff;
    color: hsl(0,0%,40%);
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.63);
}
button:active{
    background-color: hsl(0,0%,100%);
    color: rgba(0, 0, 0, 0.945);
}
button:focus{
    outline-color: wheat;
    outline-width: 2px;
}
.operator{
    background-color: goldenrod;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.operator:focus{
    outline: none;
}